.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  padding: .5rem 1rem;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1rem;
  line-height: 156%;
  text-align: center;
  transition: 0.3s;
  gap: .5rem;
  cursor: pointer;
  border-style: solid;

    &--primary {
    border: 1px solid transparent;
    background: #173c72;

    &:hover {
      background: var(--primary);
    }
  }

  &--secondary {
    border: 1px solid transparent;
    background: var(--secondary);

    &:hover {
      border: 1px solid var(--gray-20);
      box-shadow: 0 8px 16px 0 rgb(0 157 189 / 64%);
    }
  }

  &--gray {
    background: var(--gray-12);

    &:hover {
      background: var(--gray-32);
    }
  }

  &--outlined {
    border: 2px solid rgb(222 224 227 / 92%);

    &:hover {
      background: var(--gray-20);
    }
  }

  &--danger {
    background: #a51217;

    &:hover {
      background: var(--danger);
    }
  }

  &--sm {
    padding: .375rem .75rem;
    outline: none;
    border: none;
  }

  &--xs {
    padding: .25rem .5rem;
    font-size: .75rem;
    line-height: 100%;
  }
}